
.attribution { font-size: 11px; text-align: center; color: hsl(0, 0%, 100%); position: relative; top: 15px; }
.attribution a { color: hsl(0, 0%, 100%); }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {
    background-repeat: no-repeat, no-repeat;
    background-position: -100% 240%, 200% -100%;
    background-color: hsl(185, 75%, 39%);
    height: 100vh;
    text-align: center;
    margin: 0 auto;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    color: hsl(0, 0%, 59%);
    overflow: hidden;   /*NOT MINE*/
}

body::before, body::after {
    position: absolute;
    content: '';
    width: 100vw;
    height: 100vh;
}
body::before {
    background: url(images/bg-pattern-top.svg) no-repeat bottom right;
    top:-20%;
    left:-50%;
}
body::after {
    background: url(images/bg-pattern-bottom.svg) no-repeat top left;
    top: 40%;
    left: 40%;
}

.profile__card {
    height: 355px;;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 5px 1px hsl(185, 75%, 39%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    z-index: 999;
}

.profile__card--top {
    background: url(images/bg-pattern-card.svg) no-repeat center;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 60px;
    height: 140px;
}

.profile__card--image{
    border-radius: 50%;
    height: auto;
    width: 30%;
    border: 5px solid #fff;
    position: relative;
    top: -50px;
}

.profile__card--middle {
    border-bottom: 1px solid #d0d0d0;
    height: 140px;
}

.profile__card--middle p { margin-top: -40px; }

.profile__card--bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
}

.strong {
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}

.small {
    font-size: 13px;
    display: block;
    line-height: 200%;
    letter-spacing: 1px;
}
