
.attribution { font-size: 11px; text-align: center; color: #fff;}
.attribution a { color: #fff; }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('images/bg-pattern-top.svg'), url('images/bg-pattern-bottom.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: -100% 240%, 200% -100%;
    background-color: hsl(185, 75%, 39%);
/*    background-blend-mode: color-burn;*/
    height: 100vh;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    color: hsl(0, 0%, 59%);
}

.profile__card {
    display: flex;
    flex-direction: column;
    height: 58vh;
    width: 70%;
    border-radius: 10px;
    margin: 125px auto 10px auto;
    background-color: #fff;
    box-shadow: 3px 4px 15px 5px hsl(0, 0%, 59%);
}

.profile__card--top {
    background-image: url(images/bg-pattern-card.svg);
/*    background-repeat: no-repeat;*/
    background-color: hsl(185, 75%, 39%);
/*    background-blend-mode: overlay;*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 50px;
/*    flex: 1 1 37%;*/
/*    height: 37%;*/
}

.profile__card--image {
    border-radius: 50%;
    height: auto;
    width: 35%;
    border: 5px solid #fff;
    position: relative;
    top: -50px;
    margin: 0 auto;
}

.profile__card--middle {
/*    flex: 1 1 10%;*/
    border-bottom: 1px solid #d0d0d0;
    display: flex;
    flex-direction: column;
    height: 40px;
/*    border: 2px solid red;*/
}

.profile__card--middle p { 
    position: relative;
    top: -30px;
    line-height: 150%;
/*    border: 1px solid red;*/
/*    padding-bottom: 10px;*/

}

.profile__card--bottom {
    display: flex;
/*    flex: 0 0 30%;*/
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 85px;
/*    margin: auto auto;*/
/*    margin-top: 2px;*/
/*    line-height: 120%;*/
/*    height: 320px;*/
/*    height: 25%;*/
}


/*.profile__card--bottom p { margin-top: 5px;}*/

.strong {
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}

.small {
    font-size: 14px;
    display: block;
    line-height: 200%;
    letter-spacing: 1px;
}


/*Mobile Screen*/
@media screen and (max-width: 500px) {
    body {
        background-position: 130% 230%, -30% -80%;
    }
}
